# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

# ignore elf files, theos file doesn't have suffix name.
# test_grpc/examples/cpp/*/*
# !test_grpc/examples/**/*.*
# !test_grpc/examples/**/BUILD
# !test_grpc/examples/**/Makefile
#

# tmp file
TestJava/GradleLearn/bin/
*.DS_Store
*.swp
.idea/
*lh


# tmp file content
*.out
**/packer_compiled.lua

### tmp java project file
**/.idea/**
**/code.iml
tmp/out/**
**/**.dSYM/Contents
TestJava/GradleLearn/.gradle/**
TestJava/GradleLearn/build/**


### disable google drive file upload.
.tmp*/
env/
