<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.mapper.StudentMapper">


<!--===============================================================
   思路2: 按结果嵌套查询
-->

    <select id="getStudents2" resultMap="studentTeacher2">
        select s.id sid, s.name sname, t.id tid, t.name tname
        from student s,teacher t
        where s.tid = t.id
    </select>

    <resultMap id="studentTeacher2" type="Student">
        <result column="sid" property="id" />
        <result column="sname" property="name" />
        <association column="tid" property="teacher" javaType="Teacher">
            <result column="tid" property="id" />
            <result column="tname" property="name" />
        </association>
    </resultMap>

<!--===============================================================
    思路1:
        1. 查询所有的学生信息
        2. 根据查询出来的学生的tid，寻找对应的老师！  子查询
    复杂属性：
    对象：association
    集合：collection
    tid映射为，teacher ,他是Teacher类型的，再去调用1个 select
-->
    <select id="getStudents" resultMap="StudentTeacher">
        select * from mybatis.student
    </select>

    <resultMap id="StudentTeacher" type="Student">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <association column="tid" property="teacher" javaType="Teacher" select="getTeacher" />
    </resultMap>

    <select id="getTeacher" resultType="Teacher">
        select * from mybatis.teacher where id = #{id};
    </select>
</mapper>