<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"

       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

<!--    p命名空间: sun 环境失败，所以下面的不起作用-->
<!--    <bean id="cat" class="Cat" name="cat" p:name="car property" />-->
    <bean id="cat" class="com.Cat">
        <property name="name" value="cat_name" />
    </bean>
    <bean id="dog" class="com.Dog">
        <property name="name" value="dog_name" />
    </bean>

    <bean id="people" class="com.People">
        <property name="name" value="people_name" />
    </bean>

</beans>